body{
    display: flex;
    flex-direction: column;

    background-color: #bcb8b1;

    padding: 0%;
    margin: 0%;

    min-height: 100vh;
    width: 100vw;
}


.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
    height: 100px;

    background-color: green;
}

.innhold{
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: min-content;

    background-color: #bcb8b1;
}

#topp{
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: min-content;

    background-color: #bcb8b1;
}

#bunn{
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: min-content;

    background-color: #bcb8b1;
}

.moroboks{
    height: 300px;
    width: 100px;

    background-color: #d8572a;
}

img{
    max-width: 200px;
    max-height: 200px;
}